@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');


:root {
  --red-color: hsl(1, 90%, 64%);
  --blue-color: hsl(219, 85%, 26%);

  --white-color: hsl(0, 0%, 100%);
  --vlight-greyblue-color: hsl(210, 60%, 98%);
  --light-greyblue1-color: hsl(211, 68%, 94%);
  --light-greyblue2-color: hsl(205, 33%, 90%);
  --greyblue-color: hsl(219, 14%, 63%);
  --dark-greyblue-color: hsl(219, 12%, 42%);
  --vdark-blue-color: hsl(224, 21%, 14%);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  background-color: var(--white-color);
  color: var(--dark-greyblue-color);
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--white-color);
  width: 100%;
  max-width: 725px;
  padding: 15px;
  margin-top: 10px;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container-header h1 {
  color: var(--vdark-blue-color);
  font-size: 20px;
  font-weight: 800;
}

.container-header button {
  background: none;
  border: none;
  font-size: 14px;
  color: var(--dark-greyblue-color);
}

.container-header button:hover {
  color: var(--blue-color);
}

.container-header .notif-count {
  font-size: 17px;
  color: var(--white-color);
  background-color: var(--blue-color);
  padding: 2px 11px 3px;
  border-radius: 7px;
  margin-left: 5px;
  position: relative;
  bottom: 2px;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%);  
}

@media(min-width: 768px) {

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: var(--vlight-greyblue-color);
  }

  .container {
    margin: 30px auto 0;
    padding: 30px;
    border-radius: 15px;
  }

  .container-header {
    margin-bottom: 30px;
  }
  
  .container-header h1 {
    font-size: 25px;
  }
  
  .container-header button {
    font-size: 16px;
  }
}